body{
  font-family: Arial, Helvetica, sans-serif;
}
.bg-dark{
  --bs-bg-opacity:40%;
}

.bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 660px;
  position: relative;
}
.bg-main{
  background-image: url(./images/main-bg.jpg);
}
.bg-about{
  background-image: url(./images/the-games-bg.jpg);
}
.bg-features{
  background-image: url(./images/features.jpg);
}
.bg-systreq{
  background-image: url(./images/requirements.png);
}
.bg-quotes{
  background-image: url(./images/top-score-bg.png);
}
.bg-subscribe{
  background-image: url(./images/hitam.PNG);
}

.text{
  text-align: center;
  padding: 30px;
  margin-top: 18%;
  width: 500px;
  color: white;
  font-size: 18px;
  font-family: Arial;
}

.text h1{
  font-size: 52px;
  padding: 30px;
  color: white;
}
h3{
  color: white;
  font-size: 24px;
  font-weight: normal;
}

.btn{
  background-color: #FFB548;
  border-color: #FFB548;
  color: black;
  padding: 1rem 5rem;
  margin-top: 4%;  
}
.navbar-nav{
  font-family: 'Open Sans';
  font-size: 12px;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding: 8px 25px;
}
.navbar-brand{
  margin-right: 7rem;
  font-family: 'Open Sans';
  font-size: 24px;
}
.text-about{
  padding: 0px;
  color: white;
  margin: 0px;
}
.about-content{
  align-content: center;
  margin-top: 20%;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
.titik1{
  height: 20px;
  width: 20px;
  /* background-color: white; */
  border-radius: 50%;
}
.features-content{
  margin-top: 16%;
  padding-left: 10%;
}
.step-progress{
  margin-top: 10%;
}
.step-progress h3{
  color: #FFB548;
}
h1{
  font-size: 56px;
}

.systreq-content{
  margin-top: 16%;
}

.border-req {
  border-style: solid;
  border-width: 1px;
  padding: 18px 12px;
  height: 150px;
}
.border-req h3{
  color: #FFB548;
}

h5{
  color: white;
}
.quotes-content-left{
  padding: 0px 35px;
  margin-top: 30%;
}
.quotes-content-right{
  margin-top: 20%;
}


.img-piala{
  height: 694.41px;
  
}
.nav-bawah{
  font-size: 12px;
}
.jr-button{
  margin-top: 10%;
}
.form-control{
  margin-top: 4%;
  color: #FFB548;
  background-color: #272424;
  border-color: #272424;
}
.subscribe-content-right{
  margin-top: 10%;
}

.card-quotes{
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
  justify-content: right;
  padding: 20px 20px 10px;
}
.card-quotes-center{
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
  justify-content: center;
  padding: 20px 20px 10px;
}

.quotes{
  background-color: #272424;
  border-radius: 5px;
  padding: 10px 10px;
  flex-grow: 1;
  flex-basis: 280px;
  max-width: 360px;
  position: relative;
}
.quotes-text{
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 21px;
  margin-top: 1.5rem;
  color: aliceblue;
}
.quotes-img{
  display: inline-block;
  width: 61.92px;
  margin-right: 10px;
}
.quotes-img img{
  max-width: 100%;
  vertical-align: bottom;
  border-radius: 50px;
}
.quotes-info{
  display: inline-block;
}
.quotes-nama{
  font-weight: bold;
  font-size: 24px;
  line-height: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  color: #FFB548;
  margin-bottom: 15px;
}
.quotes-job{
  font-weight: normal;
  font-size: 18px;
  line-height: 10px;
  letter-spacing: 0.5px;
}

/* dekstop */
@media (min-width:992px) {
  .text{
    font-size: 24px;
    margin-top: 22%;
  }
  .text h1{
    font-size: 72px;
  }
  .bg{
    height: 960px;
  }

  .about-content{
    align-content: center;
    margin-top: 25%;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
  }
  .text-about{
    padding: 0px;
    font-size: 90xp;
    color: white;
  }
}